//Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Neue Haas Grotesque";
  src: url(../../assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf)
    format("truetype");
}

/* Variables */
:root {
  /* fonts */
  --Poppins: "Poppins", sans-serif;
  --Neue: "Neue Haas Grotesque", sans-serif;

  /* colors */
  --nude: #f9ecee;
  --gray: #888888;
  --black: #1b1b1b;
  --deeppink: #cc339c;
  --peach: #ffc0cb;
  --white: #ffffff;
  --yellow: #fae89e;
  --brown: #660033;
  --lilac: #d0a8f0;
}

// Main dashboard styles

.main-dashboard {
  height: 100%;
  width: 100%;
  padding: 4rem 6rem;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#title {
  height: auto;
  width: 100%;
  font-size: calc(1rem + 0.2vw);
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 1rem 0;
}
#info > h2 {
  font-size: calc(1rem + 2.5vw);
}

.search-btn-main {
  width: 10%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(0.1rem + 0.4vw);
  border: 2px solid #00000000;
  border-radius: 50px;
  background-color: var(--black);
  color: var(--white);
  transition: 0.1s;
}
.search-btn-main:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: var(--gray);
}

.search-btn-main > img {
  width: 15%;
  aspect-ratio: 1/1;
  color: var(--white);
  fill: var(--white);
}

// Grid Styles

.grid-container {
  height: 100%;
  font-family: var(--Poppins);
  font-style: normal;
  font-weight: 400;
  display: grid;
  gap: 2rem;
  justify-content: space-evenly;
  padding: 2.5rem 0 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  border: 1px solid #000000;
  border-radius: 0.6rem;
  box-shadow: 5px 5px 1px 1px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--nude);
  color: var(--black);
  padding: 1.5rem 2rem;
  gap: 1rem;
  transition: 0.3s;
}
.large:hover {
  transform: scale(1.01);
}

.large {
  @extend .box;
  flex-direction: row;
  background-color: var(--yellow);
}
#box9 {
  @extend .large;
  background-color: var(--peach);
}

#largeBoxIcon {
  width: 12%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0;
  background-color: var(--black);
  transition: 0.2s;
}
#largeBoxIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#largeBoxIcon > img {
  display: flex;
  margin: auto;
  width: 80%;
  aspect-ratio: 1/1;
  color: var(--white);
}

#leftsideInfoLarge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
#boxImage {
  width: 50%;
  background-color: var(--white);
}
#box1 {
  grid-column: 1 / span 2;
}

#box2,
#box9 {
  grid-column: 3 / span 2;
}

#boxTopside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#largeBoxName {
  font-weight: 500;
  font-size: calc(0.7rem + 1vw);
}
#boxName {
  font-weight: 500;
  font-size: calc(0.2rem + 1vw);
  width: 80%;
}
#boxIcon {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

#boxBottomside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}
#boxCount {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: calc(1rem + 1vw);
  font-weight: 400;
}
#countChangeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
#countChange {
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.7rem + 0.3vw);
  width: 100%;
  height: 60%;
  color: #000000;
  margin-bottom: 0.3rem;
}
.green {
  background-color: green;
}

.red {
  background-color: red;
}

.gray {
  background-color: gray;
}
#countChangeInfo {
  font-size: calc(0.5rem + 0.1vw);
}

//Footer

footer {
  width: 100%;
  height: 2%;
  text-align: center;
  margin-top: 0.5rem;
}

hr {
  margin: 1.5rem 0;
  border: 1px solid #000000;
}
