@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Neue Haas Grotesque";
  src: url(../assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf) format("truetype");
}

:root {
  /* colors */
  --nude: #f9ecee;
  --gray: #888888;
  --black: #1b1b1b;
  --deeppink: #cc339c;
  --peach: #ffc0cb;
  --white: #ffffff;
  --yellow: #fae89e;
  --brown: #660033;
  --lilac: #d0a8f0;
}

body {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h3, h4 {
  font-weight: 500;
}

.hidden {
  display: none;
}

.shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  font-weight: 700;
}

hr {
  margin: auto;
  width: 80%;
  height: 0.5px;
  background-color: var(--black);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10%;
  gap: 2rem;
}

#left-handside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#highlight {
  color: var(--deeppink);
  font-family: inherit;
  font-size: inherit;
}

#activityContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#profileContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.circle-profile {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--black);
}

#circle1 {
  background-color: green;
}

#circle2 {
  background-color: purple;
  left: 0.5rem;
}

#circle3 {
  background-color: darkred;
  left: 1rem;
}

#circle4 {
  background-color: gray;
  left: 1.5rem;
}

#circle5 {
  background-color: pink;
  left: 2rem;
}

#right-handside {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.statContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 20%;
  height: 100%;
}

.stat {
  width: 100%;
}

#image-container {
  height: 60%;
  width: 80%;
  overflow: hidden;
}

#image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Footer Styles */
#footer {
  padding: 20px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid var(--black);
  background-color: var(--deeppink);
  position: relative;
}

#footer img {
  height: 2rem;
}

@media (max-width: 700px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #left-handside {
    width: 100%;
  }
  main #right-handside {
    width: 90%;
  }
  main #image-container {
    margin: auto;
  }
  main .statContainer {
    display: none;
  }
  /* Clear Desktop Images */
}
/*# sourceMappingURL=homepagestyles.css.map */