@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Neue Haas Grotesque";
  src: url(../assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf)
    format("truetype");
}

:root {
  /* colors */
  --nude: #f9ecee;
  --gray: #888888;
  --black: #1b1b1b;
  --deeppink: #cc339c;
  --peach: #ffc0cb;
  --white: #ffffff;
  --yellow: #fae89e;
  --brown: #660033;
  --lilac: #d0a8f0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  max-width: 20ch;
}
h3, h4 {
  font-weight: 500;
}

button {
  width: fit-content;
}

.hidden {
  display: none;
}
.shown {
  display: flex;
}


.active {
  font-weight: 700;
}

hr {
  height: 0.5px;
  background-color: var(--black);
}

// Main container styles

main {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10% 40px;
}

#left-handside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  button {
    width: 100%;
  }
  p {
    line-height: 130%;
  }
}

#highlight {
  color: var(--deeppink);
  font-family: inherit;
  font-size: inherit;
}


// #main-button:hover {
//   scale: 1.05;
//   cursor: pointer;
// }

#activityContainer {
  display: flex;
  align-items: center;
}

#profileContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
}
#profileContainer h5{
  right: 2.5rem;
}
.circle-profile {
  position: relative;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--black);
}

#circle1 {
  background-color: green;
}

#circle2 {
  background-color: purple;
  right: 0.5rem;
}
#circle3 {
  background-color: darkred;
  right: 1rem;
}
#circle4 {
  background-color: gray;
  right: 1.5rem;
}
#circle5 {
  background-color: pink;
  right: 2rem;
}

#right-handside {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.statContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5rem;
}

#image-container {
  width: 70%;
}

#image {
  width: 100%;
  object-fit: contain;
}

/* Footer Styles */

#footer {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--black);
  background-color: var(--deeppink);
  img {
    height: 2rem;
  }
}

@media (max-width: 700px) {
  main {
    flex-direction: column;
    #left-handside {
      width: 100%;
    }
    #image-container {
      margin: auto;
    }
    .statContainer {
      display: none;
    }
    footer {
      img:nth-child(2) {
        display: none;
      }
    }
  }
  /* Clear Desktop Images */
  
}

@media (max-width: 1080px) {
  main {
    gap: 3rem;
  }
  #left-handside {
    width: 50%;
  }
  #right-handside {
    width: 50%;
  }
    #image-container {
    width: 100%;
  }
  .statContainer {
    display: none;
  }
}