:root {
    /* colors */
    --nude: #f9ecee;
    --gray: #888888;
    --black: #1b1b1b;
    --deeppink: #cc339c;
    --peach: #ffc0cb;
    --white: #ffffff;
    --yellow: #fae89e;
}

/* Navbar Styles */
header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 50px 10% 1rem;
    width: 100%;
    background-color: var(--nude);
    z-index: 1;
    box-shadow: 10px 0.5 var(--black);
}

.add-border-bottom {
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--black);
    border-radius:  0 0 1rem 1rem;
}

.page-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: bold;
}
.page-title img{
    height: 1rem;
}

#logo {
    height: auto;
}

#logo img {
    height: 2rem;
}
  
.nav-items {
    list-style-type: none;
}

.nav-items li {
    display: inline-block;
}

.nav-items li:hover {
    transform: scale(1.25);
    cursor: pointer;
    background-color: var(--nude);
    color: var(--black);
}
  
  /* Navbar Mobile */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--nude);
    box-shadow: var(--blur-shadow);
}
  
.menu-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.hamburger-menu a>.btn-secondary, .hamburger-menu .menu-items+a {
    width: 100%;
}

.hamburger-menu .menu-items{
    width: 100%;
    margin-bottom: 1rem;
}

.hamburger-menu li{
    display: block;
    border-bottom: 1px solid var(--black);
    text-align: center;
} 

.hamburger-menu a{
    text-decoration: none;
}
  
.hamburger-menu .btn-ghost {
    border-radius: 0;
}
  
.hamburger-menu .btn-ghost
#close-menu {
    height: 2rem;
    transition: ease-in 5s;;
}
  

/* Mobile Styles */
@media (max-width: 890px) {
    /* Navbar Mobile Responsive */
    .nav-items, .navbar>button {
        display: none;
    }
    .sign-in {
        display: none;
    }
    #hamburger {
        display: inline-block;
    }
    /* Clear Desktop Images */  
}

/* JS Classes */
.hide {
    display: none;
}

.fixed {
    position: sticky;
}

.absolute {
    position: fixed;
    top: 0;
    left: 0;
}
  